altgraph==0.17.5
colorama==0.4.6
emoji==2.15.0
numpy==2.4.3
packaging==26.1
pandas==3.0.1
pefile==2024.8.26
psutil==7.2.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pyodbc==5.3.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
setuptools==82.0.1
six==1.17.0
tabulate==0.10.0
tzdata==2025.3
